In [1]:
import numpy as np
import pandas as pd

In [10]:
##Loading the dataset
df = pd.read_csv("datasets/Sample - Superstore.csv", encoding="windows-1252")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
##Getting info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [20]:
##Checking for duplicated values(no duplicated found)
df.duplicated().sum()

np.int64(0)

In [21]:
##Checking for nan values(no nans found)
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
year-month       0
dtype: int64

In [12]:
##Order date to datetime
df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Order Date"].dtypes

dtype('<M8[ns]')

In [13]:
##Creating a year-month column
df["year-month"] = df["Order Date"].dt.to_period("M")
df["year-month"]

0       2016-11
1       2016-11
2       2016-06
3       2015-10
4       2015-10
         ...
9989    2014-01
9990    2017-02
9991    2017-02
9992    2017-02
9993    2017-05
Name: year-month, Length: 9994, dtype: period[M]

In [23]:
##Creating a profit margin column
df["Profit margin"] = round(df["Profit"] / df["Sales"],2)
df["Profit margin"]

0       0.16
1       0.30
2       0.47
3      -0.40
4       0.11
        ...
9989    0.16
9990    0.17
9991    0.08
9992    0.45
9993    0.30
Name: Profit margin, Length: 9994, dtype: float64

In [40]:
##Creating isReturned column
df["isReturned"] = np.random.choice(["True", "False"], size=len(df), p=[0.85, 0.15])
df["isReturned"]

0       True
1       True
2       True
3       True
4       True
        ...
9989    True
9990    True
9991    True
9992    True
9993    True
Name: isReturned, Length: 9994, dtype: object

In [41]:
##Checking results
df["isReturned"].value_counts()

isReturned
True     8502
False    1492
Name: count, dtype: int64

In [43]:
df.to_csv("datasets/Preprocessed_data.csv", index=False)